/* Color palette from coloors: 
FFDFD0 or #FFEEE6 - logo
FFC6AC - body
BDDBD0 - navbar
6B4B3E - header text
949387 - secondary text
FFFEC8 - light background


*/

/* update color of pages */
body {
    background-color: #FFC6AC;
}

.logo-nav {
    font-family: "League Script", cursive;
  font-weight: 1000;
  font-style:italic;
  font-size: 80px;
  color: #FFEEE6;
}

.navbar-custom {
    background-color: #BDDBD0;
   
} 

#aboutMe,#feedbackCardCn,#footer,#faq-bkgrd,#login-bkgrd {
background-color: #FFC6AC  ;
}

#bri-photo {
    /* display: block; */
    max-width: 50%;
    padding:5%;
  }

.carousel-item img {
    width: 100%;
    height: 75vh;
    object-fit: cover; 
    object-position: 50% 50%;

}

#feedbackCardCn {
    max-width: 500px;
}