#bri-photo {
    /* display: block; */
    max-width: 50%;
    padding:5%;
  }

.carousel-item img {
    width: 100%;
    height: 75vh;
    object-fit: cover; 
    object-position: 50% 50%;

}

#feedbackCardCn {
    max-width: 500px;
}